project_name = "Freetool"

# Optional overrides:
# state_bucket_name       = "iac-state-freetool"
# github_repository_owner = "wonderlydotcom"
# github_repository_name  = "internal-tool-freetool"
# github_deploy_branch    = "main"
